body {
  background: #0b192f;
  margin: 0 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #484848;
}

.post-1 {
  background: #F3D250;
}

.post-2 {
  background: #8D8741;
}

.post-3 {
  background: #659DBD;
}

.post-4 {
  background: #DAAD86;
}

.navigation {
  background: #162b4d;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 20px 0;
}

.navigation-bar {
  display: flex;
  justify-content: center;
}

.navigation-title {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}

.navigation-title span {
  color: #82184f;
  font-weight: 200;
}

.navigation-icon {
  color: #ffffff;
}

.navigation-list {
  display: none;
}

#about {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-image {
  width: 100%;
}

.post img {
  width: 100%;
  display: block;
}

.post-image img:hover {
  opacity: 0.7;
}

.post-description {
  padding: 35px 30px;
}

.post-description:hover {
  background-color: #F3D250;
  opacity: 0.7;
  z-index: 1;
}

.post-description-text h2 {
  margin: 0;
  font-weight: 200;
  font-size: 32px;
}

.post-description-text p {
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 28px;
}

.post-description-date {
  text-align: center;
  font-size: 28px;
  font-weight: 200;
}

.post-description-date span {
  font-size: 48px;
}

.hero-container {
  background: url("../img/post5.jpg") center center no-repeat;
  background-size: cover;
}

.hero-description {
  padding: 100px 30px;
  color: #ffffff;
}

.hero-description h2 {
  font-weight: 200;
  font-size: 32px;
}

.hero-text {
  font-weight: 400;
  line-height: 24px;
}

.archive {
  margin-bottom: 25px;
}

.news {
  margin: 15px 0;
}

.news-image {
  width: 100%;
  display: block;
}

.news-description {
  background-color: #ffffff;
  padding: 15px;
}

.news-description h2 {
  margin-top: 0;
  font-weight: 200;
  font-size: 28px;
  padding: 15px 0;
}

.news-description-text {
  margin-bottom: 5px;
  font-weight: 400;
  line-height: 24px;
}

.news-description-button {
  background-color: transparent;
  border: 1px solid #484848;
  padding: 8px;
  margin: 15px 0;
  color: #484848;
  text-transform: uppercase;
}

.news-description-button:hover {
  border: none;
  border-bottom: 1px solid black;
}

.contact-container {
  padding: 40px 20px 15px;
  background: #162b4d;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

.contact-container-developer {
  padding: 10px;
  margin: 0 auto;
  max-width: 110px;
  line-height: 20px;
}

@media (min-width: 481px) and (max-width: 768px) {

  body {
    margin: 0 10px;
  }

  #about {
    width: 60%;
  }

  #archive {
    width: 37%;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {

  body {
    margin: 0 30px;
  }

  #about {
    width: 78%;
  }

  #archive {
    width: 20%;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation h2 {
    margin: 0;
  }

  .navigation-bar {
    width: 70%;
  }

  .navigation-list {
    display: flex;
    padding: 0 30px;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 0;
  }

  .navigation-list-item {
    list-style: none;
  }

  .navigation-list-item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    line-height: 32px;
  }

  .navigation-list-item a:hover {
    background: white;
    opacity: 0.4;
    color: black;
    padding: 55px;
  }

  .navigation-title {
    padding: 0 25px;
  }

  .navigation-icon {
    display: none;
  }

  .archive {
    display: flex;
    flex-direction: column;
  }

  .post {
    flex-direction: row;
  }

  .post-description {
    display: flex;
    width: 50%;
    box-sizing: border-box;
  }

  .post-description-date {
    margin-top: -20px;
    margin-right: -5px;
    margin-left: 20px;
  }

  .post:nth-child(even) .post-description-date {
    margin-left: -5px;
    margin-right: 20px;
  }

  .post:nth-child(even) .post-description {
    flex-direction: row-reverse;
  }

  .post:nth-child(even) {
    flex-direction: row-reverse;
  }

  .post:nth-child(even) .post-description-text {
    text-align: right;
  }

  .post-image {
    width: 50%;
  }

  .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
